@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    background: url('../images/bg-layout.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.img-fluid {
    max-width: 100%;
}

.btn-primary {
    background: rgb(139,145,255) !important;
    background: linear-gradient(145deg, rgba(139,145,255,1) 0%, rgba(176,255,231,1) 100%) !important;
    color: #000697 !important;
}

.navbar-header {
    display: flex;
    align-items: flex-start;
    padding: 60px 0 40px;
    .menu-items {
        flex: auto;
        padding: 0 40px;
        h2 {
            font-size: 38px;
            font-weight: 700;
            line-height: normal;
            color: #2B3674;
        }
    }
    
    .profile-sec {
        .v-btn {
            font-size: 17px;
            color: #2B3674;
            font-weight: 400;
            .avatar {
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                margin-left: 10px;
                background: #fff;
                border: 1px solid rgb(67 24 255 / 50%);
                img {
                    width: 34px;
                    height: 34px;
                    object-fit: contain;
                }
            }
        }
    }
}

.v-card {
    &.my-tabs {
        opacity: 1;
        .v-tab.v-tab.v-btn {
            padding: 0;
            color: #1B2559;
            font-size: 20px;
            font-weight: 400;
            min-width: 200px;
            background: #E3E3E3;
            border: 2px solid #fff;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            text-transform: capitalize;
            .v-tab__slider {
                opacity: 0;
            }
            &.v-tab--selected {
                background: #fff;
            }
        }
        .v-card-text {
            background: #fff;
            line-height: normal;
            padding: 64px 35px;
            border-radius: 20px;
            border-top-left-radius: 0;
        }
    }
}

.tab-form {
    h2 {
        font-size: 42px;
        font-weight: 700;
        color: #1B2559;
        text-align: center;
    }
    form {
        margin-top: 48px;
    }
    label {
        font-size: 20px;
        color: #1B2559;
        line-height: 32px;
        padding: 0 0 7px;
        display: block;
    }
    .v-select .v-select__selection-text {
        font-weight: 700;
        font-size: 20px;
    }
    .btn-primary {
        height: auto !important;
        padding: 9px 40px;
        font-size: 20px;
        line-height: 34px;
        box-shadow: none;
        margin-top: 30px;
    }
}

@media(min-width: 1500px) {
    .v-container {
        max-width: 1470px !important;
    }
}