@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
@import './mixins';
@import './variables';

body {
    font-family: 'DM Sans', sans-serif;
    background: url('../images/bg-layout.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.max-w-100 {
    max-width: 100% !important;
}

.img-fluid {
    max-width: 100%;
}

.btn-primary {
    background: rgb(139,145,255) !important;
    background: linear-gradient(145deg, rgba(139,145,255,1) 0%, rgba(176,255,231,1) 100%) !important;
    color: $blue !important;
}

.navbar-header {
    display: flex;
    align-items: flex-start;
    padding: 60px 0 40px;
    .menu-items {
        flex: auto;
        padding: 0 40px;
        h2 {
            font-size: 38px;
            font-weight: 700;
            line-height: normal;
            color: $blue_600;
        }
    }
    
    .profile-sec {
        .v-btn {
            font-size: 17px;
            color: $blue_600;
            font-weight: 400;
            .avatar {
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                margin-left: 10px;
                background: $white;
                border: 1px solid rgb(67 24 255 / 50%);
                img {
                    width: 34px;
                    height: 34px;
                    object-fit: contain;
                }
            }
        }
    }
}

.dashboard-point {
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.25s all ease-in;
    .point-text {
        padding-left: 2.7vw;
        max-width: 180px;
        h2 {
            font-size: 25px;
            color: $gray;
            line-height: 1.125;
            font-weight: 700;
        }
    }
    &:hover {
        background: rgb(170,175,255);
        background: linear-gradient(145deg, rgba(170,175,255,1) 0%, rgba(223,255,245,1) 100%);
        filter: drop-shadow(-4px 3px 17px rgba(0,0,0,0.1));
        .point-text {
            h2 {
                color: $blue;
            }
        }
    }
}

.recent-class-sb {
    padding: 20px 28px 6px;
    border: 3px solid $white;
    border-radius: 20px;
    background: $white !important;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%) !important;
    .recent-class-h {
        h2 {
            font-size: 20px;
            color: $blue_800;
        }
    }
    .recent-class-f {
        text-align: right;
        .text-primary {
            padding: 0;
            color: $blue_400 !important;
            opacity: 1;
        }
    }
}

.single-history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    p {
        font-size: 14px;
        font-weight: 700;
        color: $blue_800;
        span {
            font-size: 12px;
            font-weight: 500;
            color: #A3AED0;
            display: block;
        }
    }
    .bg-blue {
        background-color: $blue_400 !important;
        text-transform: capitalize;
        padding: 7px 10px;
        height: auto !important;
        font-size: 12px;
        font-weight: 500;
    }
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
}

.toggle-btn-group {
    margin-bottom: 15px;
    &.v-btn-toggle {
        border-radius: 100px !important;
        background: $white;
        box-shadow: -4px 4px 17px 4px rgba(0,0,0,0.1);
        .v-btn {
            border-radius: 100px !important;
            min-width: 125px;
            text-align: center;
            font-size: 16px;
            color: $blue;
            background: transparent;
            &.v-btn--active {
                border: 3px solid #BDF6E5;
                background: transparent;
                .v-btn__overlay {
                    background: transparent;
                    opacity: 1;
                }
            }
        }
    }
}

.v-card {
    &.my-tabs {
        opacity: 1;
        .v-tab.v-tab.v-btn {
            padding: 0;
            color: $blue_800;
            font-size: 20px;
            font-weight: 400;
            min-width: 200px;
            background: #E3E3E3;
            border: 2px solid $white;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            text-transform: capitalize;
            .v-tab__slider {
                opacity: 0;
            }
            &.v-tab--selected {
                background: $white;
            }
        }
        .v-card-text {
            background: $white;
            line-height: normal;
            padding: 64px 35px;
            border-radius: 20px;
            border-top-left-radius: 0;
        }
    }
}

.tab-form {
    h2 {
        font-size: 42px;
        font-weight: 700;
        color: $blue_800;
        text-align: center;
    }
    form {
        margin-top: 48px;
    }
    label {
        font-size: 20px;
        color: $blue_800;
        line-height: 32px;
        padding: 0 0 7px;
        display: block;
    }
    .v-select .v-select__selection-text {
        font-weight: 700;
        font-size: 20px;
    }
    .btn-primary {
        height: auto !important;
        padding: 9px 40px;
        font-size: 20px;
        line-height: 34px;
        box-shadow: none;
        margin-top: 30px;
    }
}

.student-profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: calc(100vh - 230px);
    padding-right: 10px;
}

.overflow-scroll {
    overflow: auto;
    @extend %base-scroll;
}

.student-p-sec {
    max-width: calc(33.33% - 20px);
    flex: 0 0 calc(33.33% - 20px);
    display: flex;
    gap: 3px;
    flex-direction: column;
    .p-img {
        width: 100%;
        height: 160px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    p {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: $gray;
        &.small {
            font-size: 20px;
        }
    }
}

.prompt-chats {
    height: calc(100vh - 230px);
    padding: 25px 0 10px;
    border: 3px solid $white;
    border-radius: 20px;
    background: rgb(255,255,255) !important;
    background: linear-gradient(145deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,.1) 100%) !important;
    display: flex;
    flex-direction: column;
    &.with-chatbox {
        justify-content: space-between;
        .chat-section {
            max-height: calc(100% - 100px);
        }
    }
}

.chat-section {
    height: 100%;
    padding: 0 25px;
    flex: auto;
}

.text-field-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 12px;
    .btn-primary {
        border: 2px solid $white;
        font-size: 50px;
        padding: 7px 0;
        height: auto !important;
        line-height: 1;
    }
    .v-field__input {
        height: 90px;
    }
    .v-input__details {
        display: none;
    }
}

.s-gossip {
    .gossip-avatar {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        p {
            font-size: 12px;
            text-transform: uppercase;
            color: #000;
            font-weight: 700;
            img {
                border-radius: 100%;
            }
        }
        .bb-1 {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 0 0 5px;
        }
        .avatar-logo {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;
            border-radius: 100%;
            border: 1px solid $blue_400;
            overflow: hidden;
            img {
                max-width: 13px;
                max-height: 13px;
                object-fit: contain;
            }
        }
    }
    .gossip-box {
        font-size: 16px;
        p {
            font-size: inherit;
            margin: 0;
        }
        ul {
            padding: 0;
            padding-inline-start: 20px;
            list-style: disc;
            font-size: inherit;            
        }
    }
    + .s-gossip  {
        border-top: 1px solid #C0C0C0;
        margin-top: 25px;
        padding-top: 25px;
    }
}


.bb-1 {
    border-bottom: 1px solid #C0C0C0;
}


@media(min-width: 1500px) {
    .v-container {
        max-width: 1470px !important;
    }
}